@import url('https://www.facebook.com/profile.php?id=100000360704258');

*{
/* border: solid 1px red; */
/* font-family: 微軟正黑體; */
font-family: 'kosugi Maru',sana-serif;
}
.ncyu{
  padding-top: 20px;
}
section {
  padding-top: 50px;
}
section#s1{
  background-color: #FFF8D7	;
  padding-top: 50px;
}
section#s2{
  background-color: #FFF8D7	;
  padding-top: 50px;
}
section#s3{
  background-color: #FFF8D7	;
  padding-bottom: 50px;
}
section#s4{
  background-color: #FFF8D7	;
  padding-top: 50px;
}

/* 40px */
.toTop-arrow {
	width: 2.5rem;
	height: 2.5rem;
	padding: 0;
	margin: 0;
	border: 0;
	border-radius: 33%;
	opacity: 0.6;
	background: #000;
	cursor: pointer;
	position:fixed;
	right: 1rem;
	bottom: 1rem;
	display: none;
}
.toTop-arrow::before, .toTop-arrow::after {
	width: 18px;
	height: 5px;
	border-radius: 3px;
	background: #f90;
	position: absolute;
	content: "";
}
.toTop-arrow::before {
	transform: rotate(-45deg) translate(0, -50%);
	left: 0.5rem;
}
.toTop-arrow::after {
	transform: rotate(45deg) translate(0, -50%);
	right: 0.5rem;
}
.toTop-arrow:focus {outline: none;}